*
{
	padding: 0;
	margin: 0;
    box-sizing: border-box;

}
body{
   background: #fefefe;

 font-family: arial;
}
.header
{
	
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('images/bg.jpg');
 	height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top:20px; 
  text-align: center;
  color: #fff;
}
.header img
{
	width: 170px;
	float: left;
}

.logout-btn
{
	width: 100px;
	padding: 8px 0;
	border: 2px solid #fff;
	border-radius: 50px;
	background: transparent;
	color: #fff;
	float: right;
}
.header h1
{
	padding-top: 230px;
	padding-bottom: 0;
	font-size: 55px;
}
.header p
{
	margin: 18px 0;
}

.input-group
{
	width: 90%;
	max-width: 500px;
	border-radius: 30px;
	background: #fff;
	margin: auto;
	padding: 2px; 

}
.form-control
{
	border: 0 !important;
	border-radius: 30px !important;
	margin: 2px;
	box-shadow: none !important;
}
.input-group-text
{
	width: 100px;
	background-image: linear-gradient(#00ff7e,#1f3d90);
	border: 0 !important;
	color: #fff !important;
	padding: 0 25px !important;
	border-radius: 30px !important;
	box-shadow: none !important;

}
/*feature section gedes*/

.containerr {
  width: 90%;
  margin: 50px auto;
}
.heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.card {
  width: 20%;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
}

.card-header {
  text-align: center;
  padding: 50px 10px;
  background: linear-gradient(#00ff7e,#1f3d90);
  color: #fff;
}
.card-header img
{
  width: 100%;
  height: 100%;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
}

.card-body {
  padding: 30px 20px;
  text-align: center;
  font-size: 18px;
}
.card-body h3{
  color: #1f3d90;
}


.card-body .btn {
  font-family: arial;
  text-transform: uppercase;
  font-size: 30px;
  width: 200px;
  height: 60px;
  border-radius: 80px;
  line-height: 40px;
  text-align: center;
  border: 3px solid #1f3d90;
  display: block;
  text-decoration: none;
  margin: 20px auto;
  color: #1f3d90;
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: .3s;
 
 }
 .card-body .btn:before
 {
   content: '';
   width: 100%;
   height: 100%;
   position: absolute;
   background: #1f3d90;
   opacity: .5;
   top: -100%;
   left: 0;
   z-index: -1;
   transition: .3s;
 
 }
 .card-body .btn:after
 {
     content: '';
     width: 100%;
     height: 100%;
     position: absolute;
     background: #1f3d90;
     top: -100%;
     left: 0;
     z-index: -1;
     transition: .3s;
 
 
 
 }

 .card-body .btn:hover
 {
   color: #fff;
 }
 .card-body .btn:hover:before
 {
   top: 0;
 }
 
 .card-body .btn:hover:after
 {
   top: 0;
 }
 
 .card:hover {
   transform: scale(1.05);
   box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
 }

@media screen and (max-width: 1000px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .containerr {
    width: 100%;
  }

  .heading {
    padding: 20px;
    font-size: 20px;
  }

  .card {
    width: 80%;
  }
}
/* footer */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

*{
  padding:0;
  margin:0;
}

html{
  background-color: #eaf0f2;
}

body{
  font:16px/1.6 Arial,  sans-serif;
}

header{
  text-align: center;
  padding-top: 100px;
  margin-bottom:190px;
}

header h1{
  font: normal 32px/1.5 'Open Sans', sans-serif;
  color: #3F71AE;
  padding-bottom: 16px;
}

header h2{
  color: #F05283;
}

header span{
  color: #3F71EA;
}


/* The footer is fixed to the bottom of the page */

footer{
  position: fixed;
  bottom: 0;
}

@media (max-height:800px){
  footer { position: static; }
  header { padding-top:40px; }
}


.footer-distributed{
  background-color: #2c292f;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 30%;
}

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
  width: 30%;
}

.footer-distributed h3 span{
  color:  #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}


.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #e0ac1c;
  text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 30%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}




.image-container{
  position: relative;
  column-count: 4;
  padding: 20px;

}
.image{
  display: inline-block;
  margin-bottom: 10px;
  overflow: hidden;

}
.image img{
  width: 100%;
  transition: 0.25s ease-in-out;
  }
 .image:hover img{
  transform: scale(1.1);
 }
.image h1{
  position: absolute;
  padding: 5px;
  margin: 5px;
  font-size: 25px;
  background: #5c5c5c;
  color: #fff;
  border-radius: 5px;
  opacity: 0;
  z-index: 1;
  transition: 0.25 ease-in-out;



}

.image:hover h1{
  opacity: 0.5;
}

@media screen and (max-width: 1024px){
  h1{
    font-size: 20px;
  }
}
@media screen and (max-width: 768px){
  .image-container{
    column-count: 3;
  }
}


@media screen and (max-width: 425px){
  .image-container{
    column-count: 2;
  }
  h1{
    font-size: 12px;
  }

}
@media screen and (max-width: 375px){
  .image-container{
    column-count: 1;
  }
  h1{
    font-size: 12px;
  }

}